[Script Info]
Title: {{ title | escape_ass }}
ScriptType: v4.00+
WrapStyle: 0
ScaledBorderAndShadow: yes
YCbCr Matrix: TV.709
PlayResX: 1920
PlayResY: 1080

[V4+ Styles]
Format: Name, Fontname, Fontsize, PrimaryColour, SecondaryColour, OutlineColour, BackColour, Bold, Italic, Underline, StrikeOut, ScaleX, ScaleY, Spacing, Angle, BorderStyle, Outline, Shadow, Alignment, MarginL, MarginR, MarginV, Encoding
Style: Term,Noto Sans CJK JP,128,&H00F8F8F8,&H000000FF,&H00202020,&HAA000000,1,0,0,0,100,100,0,0,1,4,1,5,120,120,120,1
Style: Body,Noto Sans CJK JP,76,&H00F0F0F0,&H000000FF,&H00202020,&HAA000000,0,0,0,0,100,100,0,0,1,3,1,5,150,150,140,1
Style: Prompt,Noto Sans CJK JP,68,&H00BFE8FF,&H000000FF,&H00202020,&HAA000000,1,0,0,0,100,100,0,0,1,3,1,5,150,150,140,1

[Events]
Format: Layer, Start, End, Style, Name, MarginL, MarginR, MarginV, Effect, Text
{% for line in lines -%}
Dialogue: 0,{{ line.start | ass_time }},{{ line.end | ass_time }},{{ line.style }},,0,0,0,,{{ line.text | escape_ass }}
{% endfor -%}
